.newCard {
  border: 1px solid #000;
  height:200px;
  width:200px;
}

#deleteButton {
  margin-left: 10px;
}

.inputText {
  display: block;
  text-align: center;
  margin-top: 10px;
}
